<div class="container">
<%= form_with(model: @post, local: true) do |form| %>

  <% if user_signed_in? %>
    <p>
      <%= current_user.email %>
    </p>
    <p>
      <%= form.label :comment %><br>
      <%= form.text_area :body %>
    </p>
  <% else %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
