<style>
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #464a4c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #464a4c;
    cursor: pointer;
}
</style>


<div class="container">
<h3><%= current_user.email.split('@')[0].capitalize %> Post</h3>

<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h4><%= form.label :title %></h4>
  <p>
    <%= form.text_field :title %>
  </p>

  <h4><%= form.label :description %><br></h4>
  <p>
    <%= form.text_area :text %>
  </p>

  <h4><%= form.label :genre%></h4>
  <p>
    <%= check_box_tag :genre, "Book"  %>
    <%= form.label :book %>
  </p>

  <p>
    <%= check_box_tag :genre %>
    <%= form.label(:genre, "Movie") %>
  </p>

  <p>
    <%= check_box_tag :genre %>
    <%= form.label(:genre, "Album") %>
  </p>


<!-- <p>Give it a rating!</p>

<div class="slidecontainer">
  <input type="range" min="1" max="10" value="10" class="slider" id="myRange">
  <p>Rating: <span id="demo"></span></p>
</div>



<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script> -->

<p>
  <%= form.submit %>
</p>


<% end %>
</div>
