<style>
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #464a4c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #464a4c;
    cursor: pointer;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>


<div class="container text-center">
<h3><%= current_user.email.split('@')[0].capitalize %> Post</h3>

<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="container text-center">
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <h4><%= form.label :title %></h4>
    <p>
      <%= form.text_field :title %>
    </p>

    <h4><%= form.label :genre%></h4>
    <p>
      <%= form.text_field :genre %>
    </p>

    <h4><%= form.label :description %><br></h4>
    <p>
      <%= form.text_area :text %>
    </p>

    <h4><%= form.label :rating %></h4>
    <p>
      <%= form.number_field :rating, in: 1..10 %>
    </p>


<p>
  <%= form.submit %>
</p>

</div>
<% end %>
</div>
