<h1><%= current_user.email.split('@')[0].capitalize %> Post</h1>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @post.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>


<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
